<a href="https://colab.research.google.com/github/Harikrishna3/GaanaDataAnalysis/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/AshishJangra27/Gaana-Data-Analysis

Cloning into 'Gaana-Data-Analysis'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (26/26), done.
remote: Total 26 (delta 8), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (26/26), done.

In [ ]:
import pandas as pd
from tqdm import tqdm
df = pd.read_csv('Gaana-Data-Analysis/songs.csv')

In [ ]:
df.head()

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,05:00,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,06:26,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,03:41,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,04:26,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,05:39,/hazaron-khwahishen-aisi-1,Urdu

In [ ]:
df.isnull().sum()

name         0
singer       0
singer_id    0
duration     0
link         0
language     0
dtype: int64

### 2.Data Preprocess
###### 2.1) Dealing with duration

In [ ]:
duration_list=[]

'''for duration in df['duration']:
  m = int(duration.split(':')[0])
  s = int(duration.split(':')[1])
  sec=(m*60)+s
  duration_list.append(sec)'''

#df['duration'] = duration_list
df.head()

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,300,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,386,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,221,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,266,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,339,/hazaron-khwahishen-aisi-1,Urdu

### 3. Data Analysis
##### 3.1) Average duration of song

In [ ]:
print("Avarage Duration of Songs is ", int(df['duration'].sum()/len(df['duration'])), "Seconds")
#df['duration'].mean()

Avarage Duration of Songs is  295 Seconds

##### 3.2) How Many Language are ther in the data set

In [ ]:
df['language'].unique()
df['language'].nunique()
len(set(df['language']))

16

#### 3.3) How many language are there in dataset

In [ ]:
for i in set(df['language']):
  print(i)

Tamil
Marathi
Bhojpuri
Malayalam
Telugu
Assamese
Punjabi
Hindi
Gujarati
Haryanvi
Rajasthani
Old
Odia
Kannada
Bengali
Urdu

##### 3.4) How many punjabi songs are there in dataset

In [ ]:
sum =0
for i in df['language']:
  if(i == 'Punjabi'):
    sum+=1
print("there are ",sum,"punjabi songs")    

df[df['language'] == 'Punjabi']
len(df[df['language'] == 'Punjabi'])

there are  3818 punjabi songs

3818

##### 3.5) Number of song in each langauge

In [ ]:
for lang in df['language'].unique():

  sum =0
  for i in df['language']:
    if(i == lang):
      sum+=1
  print(lang, sum)
  print(lang, len(df[df['language'] == lang]))

Urdu 3116
Urdu 3116
Gujarati 2115
Gujarati 2115
Tamil 4677
Tamil 4677
Kannada 3559
Kannada 3559
Rajasthani 541
Rajasthani 541
Haryanvi 228
Haryanvi 228
Punjabi 3818
Punjabi 3818
Hindi 4993
Hindi 4993
Old 4993
Old 4993
Malayalam 479
Malayalam 479
Marathi 4699
Marathi 4699
Telugu 4996
Telugu 4996
Odia 940
Odia 940
Bhojpuri 519
Bhojpuri 519
Assamese 724
Assamese 724
Bengali 958
Bengali 958

##### 3.6)Average duration of song in each languge

In [ ]:
for lang in df['language'].unique():
  print(lang, int(df[df['language'] == lang].mean()))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Urdu 407
Gujarati 271
Tamil 270
Kannada 250
Rajasthani 291
Haryanvi 320
Punjabi 324
Hindi 307
Old 307
Malayalam 242
Marathi 281
Telugu 279
Odia 257
Bhojpuri 357
Assamese 228
Bengali 255

##### 3.7) How many Singers in dataset

In [ ]:
All_dataset = []
for singers in df['singer']:
  All_dataset += singers.split('|')
len(set(All_dataset))

##### 3.8) How many singer sang most of the song

In [ ]:

unique_singer = list(set(All_dataset))

data_singers = []
for i in tqdm(unique_singer):
  c=0
  for singer_ in df['singer']:
    if(i in singer_):
      c+=1
  data_singers.append([i, c])

In [ ]:
songs = pd.DataFrame(data_singers,All_dataset = ['singer','songs'])